body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-position: center;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../_imgs/back1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../_imgs/back2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../_imgs/algoritmo1.jpg");
  min-height: 525px;
}
.bgimg-4 {
  background-image: url("../_imgs/logica programaçao.jpg");
  min-height: 510px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: rgb(60, 60, 60);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: table;
  border: none;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelar {
  padding: 14px 20px;
  background-color: #f44336;
}


.signup {
  width: auto;
  float: center;
  padding: auto;
}

a#vai-login{
  text-decoration: none;
  color: white;
}


.container {
  padding: 16px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 0px;
}

/
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;  
  border: 1px solid #888;
  width: 80%; 
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

