
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

#lgtp{
  position: absolute;
  left:9px;
  top: 2px;
  width: 20%;
}

body {
  font-family:"Stencil Std";
  background-size: cover;
  text-align: center;
  color: white;
  background-image:url(../_imgs/pc.png);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-color:#000;
  background-attachment:fixed;


}
img {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}
div#ap1{
  position: absolute;
  right: -23%;
  top: 2%;


}

h1#ap{

  font-size: 35pt;

}

p#paragrafo{
  text-align: justify;
  font-size: 16pt;
  font-family: Arial;
}

p{
  text-align: left;
}

nav#menu ul{
 list-style: none;
 margin: 0%;
 padding: 2%;
 color: white;
 font-size: 50%;
 font-size: 12pt;
 line-height:10%;
 display: inline-block;
 text-transform: uppercase;
 position: relative;
 top: 1%;
 left: 37%;

 
}
nav#menu li{
  display: inline;
  font-family: "calibri";
  text-transform: uppercase;
  text-align: top;
  padding: 10px;
  background-color: #707070;
  margin: 10px;
  transition: background-color 1s;
  text-decoration: none;  

}
nav#menu li:hover{
  background-color:  #595959;;

}  
nav#menu a{
  color: white;
  text-decoration: none;
}
nav#menu a:hover {
  color: #ffffff;
}

form#inscrição1{
  position: absolute;
  top: 16%;
  right:15%; 
  background-color: rgba(20,20,20,0.2);
  font-family: Arial;
  font-size: 14pt;
  width: 25%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;


}

input[type=text]:focus {
  border: 3px solid rgba(10, 178, 66, 0.9);
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password]:focus {
  border: 3px solid rgba(10, 178, 66, 0.9);
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 1px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=email]:focus {
  border: 3px solid rgba(10, 178, 66, 0.9);
}

}

#submit:active {
  position:relative;
  top:1px;
}

button{
  margin: 5% 0;
  font-family: Lato;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background: rgba(10, 178, 66, 0.9);
  color: #fff;
  text-transform: uppercase;
  font-size: 12pt;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  border: 4px solid rgb(10, 178, 66);
}
button:hover{
  transform:scale(1.06);
  opacity:0.8;
}

section#corpo{

  position: absolute;
  top: 20%;
  left: 10%;
  width:31%;
  text-align: justify;
  font-family: Arial;
  font-size: 20pt;
  bottom: 50%;
  font-size:18pt;
}
.loading{
  width:100%;
  height:11%;
  text-align:center;
}

.btn{
  width: 140px;
  position: relative;
  bottom: -600%;
  right: -22.5%;
  top: 567%;
}

.btn-fill{
  font-size: 0;
  width: 50px;
  border-right: 4px solid #fff;
}
.btn-load{animation: loader .7s linear infinite;}
@keyframes loader{
  0%{transform: rotateZ(0);}
  100%{transform: rotateZ(360deg);}
}