
@charset "UTF-8";
#lgtp{
position: absolute;
left:3%;
top: -100px;
margin: 0%;

}

body {
  font-family:"Stencil Std";
  background-size: cover;
  font-size: 30px;
  text-align: center;
  color: white;
  background-image:url(pc.png);
			-webkit-background-size: 100% 100%;
  			-moz-background-size: 100% 100%;
  			-o-background-size: 100% 100%;
  			background-size: 100% 100%;
  			background-color:#000;
  			background-attachment:fixed;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}
p#paragrafo{
  text-align: justify;
  font-size: 18pt;
  font-family: Arial;

}
p{
  text-align: left;
}

 nav#menu ul{
 list-style: none;
  margin: 0%;
  padding: 2%;
  color: white;
  font-size: 50%;
  line-height:10%;
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  top: 2%;
  left: 61%;

 
}
nav#menu li{
  display: inline;
  font-family: "calibri";
  text-transform: uppercase;
  text-align: top;
  padding: 10px;
  background-color: #707070;
  margin: 10px;
  transition: background-color 1s;
  text-decoration: none;

}
nav#menu li:hover{
background-color:  #595959;;

}  
nav#menu a{
  color: white;
  text-decoration: none;
}
nav#menu a:hover {
  color: #ffffff;
}

form#inscrição1{
  position: absolute;
  top: 18%;
  right:15%; 
  background-color: rgba(20,20,20,0.2);
  font-family: Arial;
  width: 32%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=email]:focus {
    border: 3px solid #555;
}
button {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
button:hover {
    background-color: #555555;
    color: white;
}
section#corpo{

  position: absolute;
  top: 20%;
  left: 10%;
  width:31%;
  text-align: justify;
  font-family: Arial;
  font-size: 20pt;
  bottom: 50%;
  font-size:18pt;
}
